{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * @see template_preprocess_page()
 */
#}

<div id="app">
  {{ page.header }}
  {{ page.navigation }}

  <main id="main">
    {{ page.sidebar_first }}
    {{ page.content }}
  </main>

  {{ page.footer }}
</div>
