{% set bem_block = form_id ? 'form-' ~ form_id|clean_class ~ '__' ~ name|clean_class : 'details' %}
{%
  set classes = [
    bem_block,
  ]
%}
<details{{ attributes.addClass(classes) }}>
  {% set bem_element_summary = bem_block ~ '-summary' %}
  {%
    set summary_classes = [
      bem_element_summary,
      required ? 'js-form-required',
      required ? bem_element_summary ~ '--required',
    ]
  %}
  {%- if title -%}
    <summary{{ summary_attributes.addClass(summary_classes) }}>{{ title }}</summary>
  {%- endif -%}

  {% if errors %}
    <div class="{{ bem_block }}-errors">
      {{ errors }}
    </div>
  {% endif %}

  <div class="{{ bem_block }}-content">
    {{ description }}
    {{ children }}
    {{ value }}
  </div>
</details>
