{# @todo improve BEM markup. #}
{% set classes = [
  'js-form-item',
  'form-item',
  'js-form-wrapper',
  'form-wrapper',
  'fieldset',
] %}
<fieldset{{ attributes.addClass(classes) }}>
  {% set legend_span_classes = [
    'fieldset__legend',
    required ? 'js-form-required',
    required ? 'form-required',
  ] %}
  {#  Always wrap fieldset legends in a SPAN for CSS positioning. #}
  <legend{{ legend.attributes }}>
    <span{{ legend_span.attributes.addClass(legend_span_classes) }}>{{ legend.title }}</span>
  </legend>
  <div class="fieldset__wrapper">
    {% if errors %}
      <div>
        {{ errors }}
      </div>
    {% endif %}
    {% if prefix %}
      <span class="field-prefix">{{ prefix }}</span>
    {% endif %}
    {{ children }}
    {% if suffix %}
      <span class="field-suffix">{{ suffix }}</span>
    {% endif %}
    {% if description.content %}
      <div{{ description.attributes.addClass('fieldset__description') }}>{{ description.content }}</div>
    {% endif %}
  </div>
</fieldset>
