{% set block = css_name ? css_name : 'views' %}
{%
  set modifiers = [
    id,
    display_id,
  ]
%}
{%
  set classes = [
    bem(block, modifiers),
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}

  {% if title %}
    {% block title %}
      {{ title }}
    {% endblock %}
  {% endif %}

  {{ title_suffix }}

  {% if header %}
    <div class="{{ bem('header', [], block) }}">
      {% block header %}
        {{ header }}
      {% endblock %}
    </div>
  {% endif %}

  {% if exposed %}
    <div class="{{ bem('filters', [], block) }}">
      {% block filters %}
        {{ exposed }}
      {% endblock %}
    </div>
  {% endif %}

  {% if attachment_before %}
    <div class="{{ bem('attachment', ['before'], block) }}">
      {% block attachment_before %}
        {{ attachment_before }}
      {% endblock attachment_before %}
    </div>
  {% endif %}

  {% if rows %}
    <div class="{{ bem('content', [], block) }}">
      {% block content %}
        {{ rows }}
      {% endblock %}
    </div>
  {% elseif empty %}
    <div class="{{ bem('content', ['empty'], block) }}">
      {% block content_empty %}
        {{ empty }}
      {% endblock %}
    </div>
  {% endif %}

  {% if pager %}
    <div class="{{ bem('pager', [], block) }}">
      {% block pager %}
        {{ pager }}
      {% endblock %}
    </div>
  {% endif %}

  {% if attachment_after %}
    <div class={{ bem('attachment', ['after'], block) }}>
      {% block attachment_after %}
        {{ attachment_after }}
      {% endblock %}
    </div>
  {% endif %}

  {% if more %}
    {% block more %}
      {{ more }}
    {% endblock %}
  {% endif %}

  {% if footer %}
    <div class="{{ bem('footer', [], block) }}">
      {% block footer %}
        {{ footer }}
      {% endblock %}
    </div>
  {% endif %}

  {% if feed_icons %}
    <div class="{{ bem('feed-icons', [], block) }}">
      {% block feed %}
        {{ feed_icons }}
      {% endblock %}
    </div>
  {% endif %}
</div>
