{% set bem_block = 'view-' ~ view.storage.id()|clean_class ~ '-' ~ view.current_display|clean_class %}
{% set bem_element = bem_block ~ '__summary' %}
<ul class="{{ bem_element }}">
  {% for row in rows %}
    <li class="{{ bem_element }}-item">
      <a href="{{ row.url }}"{{ row.attributes.addClass(bem_element ~ '-item-link', row.active ? 'is-active')|without('href') }}>{{ row.link }}</a>
      {% if options.count %}
        <span class="{{ bem_element }}-item-count">({{ row.count }})</span>
      {% endif %}
    </li>
  {% endfor %}
</ul>
