{%
  set bem_block = 'view-' ~ id|clean_class ~ '-' ~ display_id|clean_class
%}
{%
  set classes = [
    bem_block,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if header %}
    <div class="{{ bem_block }}__header">
      {{ header }}
    </div>
  {% endif %}
  {% if exposed %}
    <div class="{{ bem_block }}__filters">
      {{ exposed }}
    </div>
  {% endif %}
  {% if attachment_before %}
    <div class="{{ bem_block }}__attachment {{ bem_block }}__attachment--before">
      {{ attachment_before }}
    </div>
  {% endif %}

  {% if rows %}
    <div class="{{ bem_block }}__content">
      {{ rows }}
    </div>
  {% elseif empty %}
    <div class="{{ bem_block }}__content {{ bem_block }}__content--empty">
      {{ empty }}
    </div>
  {% endif %}

  {% if pager %}
    {{ pager }}
  {% endif %}
  {% if attachment_after %}
    <div class="{{ bem_block }}__attachment {{ bem_block }}__attachment--after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    <div class="{{ bem_block }}__footer">
      {{ footer }}
    </div>
  {% endif %}
  {% if feed_icons %}
    <div class="{{ bem_block }}__feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
