{% set bem_block = 'view-' ~ view.storage.id()|clean_class ~ '-' ~ view.current_display|clean_class %}
{% set bem_element = bem_block ~ '__list' %}
{% if attributes|length -%}
<div{{ attributes.addClass(bem_element ~ '-container') }}>
  {% endif %}
  {% if title %}
    <h3 class="{{ bem_element }}-title">
      {% block title %}
        {{ title }}
      {% endblock %}
    </h3>
  {% endif %}

  {% block content %}
    <{{ list.type }}{% if list.attributes %}{{ list.attributes.addClass(bem_element) }}{% else %} class="{{ bem_element }}"{% endif %}
    >

      {% for row in rows %}
        <li{{ row.attributes.addClass(bem_element ~ '-item') }}>{{ row.content }}</li>
      {% endfor %}

    </{{ list.type }}>
  {% endblock %}
{% if attributes|length -%}
  </div>
{% endif %}
