{#
/**
 * @file
 * Theme override to display a block.
 *
 * @see template_preprocess_block()
 */
#}
{% do attributes.removeAttribute('id') %}
{% set bem_block = 'block' %}
{% set classes = [
  bem_block,
  plugin_id ? bem_block ~ '--' ~ plugin_id|replace({':': '-'})|clean_class,
] %}
{# @todo find out if it neede when bem namin will changed to  more common. #}
{% set bem_modifiers = bem_modifiers ?: block_id|split('__')|slice(1) %}
{% for modifier in bem_modifiers %}
  {% set classes = classes|merge([bem_block ~ '--' ~ modifier|clean_class]) %}
{% endfor %}

<div{{ attributes.addClass(classes) }}>
  {% block block %}
    {{ title_prefix }}
    {% if label %}
      <div{{ title_attributes.addClass(bem_block ~ '__title') }}>
        {% block title %}
          {{ label }}
        {% endblock title %}
      </div>
    {% endif %}
    {{ title_suffix }}

    <div{{ content_attributes.addClass(bem_block ~ '__content') }}>
      {% block content %}
        {{ content }}
      {% endblock content %}
    </div>
  {% endblock block %}
</div>
