{% extends "block.html.twig" %}
{% do attributes.addClass('branding') %}
{% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="branding__logo">
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
    </a>
  {% endif %}
  <div class="branding__site-name-and-slogan">
    {% if site_name %}
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="branding__site-name">{{ site_name }}</a>
    {% endif %}
    {% if site_slogan %}
      <span class="branding__slogan">{{ site_slogan }}</span>
    {% endif %}
  </div>
{% endblock %}
