{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% set block = 'branding' %}
{%
  set classes = [
    bem(block),
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if site_logo %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="{{ bem('logo', [], block) }}">
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="{{ bem('img', [], block) }}" />
    </a>
  {% endif %}
  {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="{{ bem('name', [], block) }}">{{ site_name }}</a>
  {% endif %}
  {% if site_slogan %}
    <span class="{{ bem('slogan', [], block) }}">{{ site_slogan }}</span>
  {% endif %}
</div>
