{#
/**
 * @file
 * Theme override to display a block.
 *
 * @see template_preprocess_block()
 */
#}
{% do attributes.removeAttribute('id') %}
{% set bem_block = 'block'|clean_class %}
{%
  set bem_modifiers = bem_modifiers|merge([
    plugin_id ? plugin_id|replace({':': '-'})|clean_class,
  ])
%}
{%
  set classes = [
    bem_block,
  ]
%}
{% for bem_modifier in bem_modifiers %}
  {% if bem_modifier|length %}
    {% set classes = classes|merge([bem_block ~ '--' ~ bem_modifier]) %}
  {% endif %}
{% endfor %}

<div{{ attributes.addClass(classes) }}>
  {% block block %}
    {{ title_prefix }}
    {% if label %}
      <div{{ title_attributes.addClass(bem_block ~ '__title') }}>
        {% block title %}
          {{ label }}
        {% endblock title %}
      </div>
    {% endif %}
    {{ title_suffix }}

    <div{{ content_attributes.addClass(bem_block ~ '__content') }}>
      {% block content %}
        {{ content }}
      {% endblock content %}
    </div>
  {% endblock block %}
</div>
