{% extends "block.html.twig" %}
{% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="{{ bem_block }}__logo">
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
    </a>
  {% endif %}
  {% if site_name or site_slogan %}
    <div class="{{ bem_block }}__site-name-and-slogan">
      {% if site_name %}
        <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="{{ bem_block }}__site-name">{{ site_name }}</a>
      {% endif %}
      {% if site_slogan %}
        <span class="{{ bem_block }}__slogan">{{ site_slogan }}</span>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}