{% set bem_block = 'block-' ~ block_id|split('__', 2)|first|clean_class %}
{% set bem_modifiers = block_id|split('__')|slice(1) %}
{% set classes = [
  bem_block,
] %}

{% for modifier in block_id|split('__')|slice(1) %}
  {% set classes = classes|merge([bem_block ~ '--' ~ modifier|clean_class]) %}
{% endfor %}
{% set heading_id = attributes.id ~ '-title'|clean_id %}
{# Label. If not displayed, we still provide it for screen readers. #}
{% if not configuration.label_display %}
  {% do title_attributes.addClass('visually-hidden') %}
{% endif %}

{% do attributes.removeAttribute('id') %}
{% if configuration.label %}
  {% do attributes.setAttribute('aria-labelledby', heading_id) %}
{% endif %}
{% do title_attributes.setAttribute('id', heading_id) %}
{% do content_attributes.setAttribute('bem_base', bem_block ~ '__') %}
{# Pass attributes for menu. This is needed to correct generation class names. #}
{% set content = content|merge({'#attributes': content_attributes}) %}

<nav{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if configuration.label %}
    <h2{{ title_attributes.addClass(bem_block ~ '__title') }}>
      {% block title %}
        {{ configuration.label }}
      {% endblock title %}
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    {{ content }}
  {% endblock %}

</nav>
