{%
  set bem_block = bem_block([
    node.entityTypeId(),
    node.bundle(),
    view_mode != 'default' ? view_mode,
  ])
%}
{%
  set bem_modifiers = [
    node.isPromoted() ? 'promoted',
    node.isSticky() ? 'sticky',
    not node.isPublished() ? 'unpublished',
  ]
%}
<article{{ attributes.addClass(bem(bem_block, bem_modifiers)) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block node %}
    {% if display_submitted %}
      <header class="{{ bem('header', [], bem_block) }}">
        {% block header %}
          {% if not page %}
            <h2{{ title_attributes.addClass(bem('title', [], bem_block)) }}>
              {% block title %}
                <a class="{{ bem('link', [], bem_block) }}" href="{{ url }}" rel="bookmark">{{ label }}</a>
              {% endblock %}
            </h2>
          {% endif %}

          <div{{ author_attributes.addClass(bem('submitted', [], bem_block)) }}>
            {% block submitted %}
              {{ date }}
              {{ metadata }}
            {% endblock %}
          </div>

        {% endblock %}
      </header>
    {% endif %}

    <div{{ content_attributes.addClass(bem('content', [], bem_block)) }}>
      {% block content %}
        {{ content|without('links') }}
      {% endblock %}
    </div>

    {% if content.links %}
      <div class="{{ bem('links', [], bem_block) }}">
        {% block links %}
          {{ content.links }}
        {% endblock %}
      </div>
    {% endif %}

  {% endblock node %}
</article>
