{% set bem_block = 'node-' ~ node.bundle ~ '-' ~ view_mode|clean_class|replace({'--': '-'}) %}
{%
  set bem_modifiers = bem_modifiers|merge([
    node.isPromoted() ? 'promoted',
    node.isSticky() ? 'sticky',
    not node.isPublished() ? 'unpublished',
  ])
%}
{%
  set classes = [
    bem_block,
  ]
%}
{% for bem_modifier in bem_modifiers %}
  {% if bem_modifier|length %}
    {% set classes = classes|merge([bem_block ~ '--' ~ bem_modifier]) %}
  {% endif %}
{% endfor %}
{%
  set title_classes = [
    bem_block ~ '__label',
    label_hidden ? 'visually-hidden',
  ]
%}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block node %}

    {% if display_submitted %}
      <header class="{{ bem_block }}__header">
        {% block header %}

          {% if not page %}
            <h2{{ title_attributes.addClass(bem_block ~ '__title') }}>
              {% block title %}
                <a class="{{ bem_block }}__link" href="{{ url }}" rel="bookmark">{{ label }}</a>
              {% endblock %}
            </h2>
          {% endif %}

          <div{{ author_attributes.addClass(bem_block ~ '__submitted') }}>
            {% block submitted %}
              {{ date }}
              {{ metadata }}
            {% endblock %}
          </div>

        {% endblock %}
      </header>
    {% endif %}

    <div{{ content_attributes.addClass(bem_block ~ '__content') }}>
      {% block content %}
        {{ content|without('links') }}
      {% endblock %}
    </div>

    {% if content.links %}
      <div class="{{ bem_block }}__links">
        {% block links %}
          {{ content.links }}
        {% endblock %}
      </div>
    {% endif %}

  {% endblock node %}
</article>
