{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * @see template_preprocess_breadcrumb().
 */
#}
{% set block = 'breadcrumb' %}
{%
  set modifiers = [
    breadcrumb|length == 1 ? 'single-item',
  ]
%}
{% set classes = [bem(block, modifiers)] %}
{% if breadcrumb %}
  <nav{{ attributes.addClass(classes) }}>
    <h2 class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    {% spaceless %}
      {% if breadcrumb|length > 1 %}
        <div class="{{ bem('path', [], block) }}">
          {% for item in breadcrumb %}
            {% if not loop.last %}
              {% if item.url %}
                <a href="{{ item.url }}" class="{{ bem('item-link', [], block) }}">{{ item.text }}</a>
                <span class="{{ bem('delimeter', [], block) }}"></span>
              {% else %}
                <span class="{{ bem('item-link', ['text'], block) }}">{{ item.text }}</span>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      <div class="{{ bem('current', [], block) }}">
        {% set last = breadcrumb|last %}
        {% if last.url %}
          <a href="{{ last.url }}" class="{{ bem('item-link', ['current'], block) }}">{{ last.text }}</a>
        {% else %}
          <span class="{{ bem('path', ['text', 'current'], block) }}">{{ last.text }}</span>
        {% endif %}
      </div>
    {% endspaceless %}
  </nav>
{% endif %}
