{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{% set block = block ?? 'menu' %}
{%
  set modifiers = [
    menu_name,
  ]
%}
{{ menus.menu_links(items, attributes, 0, block, modifiers) }}

{% macro menu_links(items, attributes, menu_level, block, modifiers) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      {% set classes = bem(block, null, modifiers) %}
      <ul{{ attributes.addClass(classes) }}>
        {% for item in items %}
          {%
            set item_modifiers = [
              item.is_expanded ? 'expanded',
              item.is_collapsed ? 'collapsed',
              item.in_active_trail ? 'active-trail',
            ]
          %}
          {%
            set item_classes = [
              bem(block, 'item', item_modifiers),
            ]
          %}
          <li{{ item.attributes.addClass(item_classes) }}>
            {{ link(item.title, item.url, { 'class': [bem(block, 'link')] }) }}
            {% if item.below %}
              {{ menus.menu_links(item.below, attributes, menu_level + 1, block) }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      {%
        set classes = [
          bem(block, 'submenu'),
        ]
      %}
      <ul{{ attributes.addClass(classes) }}>
        {% for item in items %}
          {%
            set item_modifiers = [
              'submenu',
              item.is_expanded ? 'expanded',
              item.is_collapsed ? 'collapsed',
              item.in_active_trail ? 'active-trail',
            ]
          %}
          {%
            set item_classes = [
              bem(block, 'item', item_modifiers),
            ]
          %}
          <li{{ item.attributes.addClass(item_classes) }}>
            {{ link(item.title, item.url, { 'class': [bem(block, 'link', ['submenu'])] }) }}
            {% if item.below %}
              {{ menus.menu_links(item.below, attributes, menu_level + 1, block) }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endif %}
{% endmacro %}
