{% set bem_block = (entity_type ~ '-' ~ field_name)|clean_class %}
{%
  set classes = classes ?: [
    bem_block,
    bem_block ~ '--b-' ~ bundle|clean_class,
    view_mode != 'default' ? bem_block ~ '--vm-' ~ view_mode|clean_class|replace({'--': '-'}),
    label_display == 'inline' ? bem_block ~ '--label-inline',
  ]
%}
<a id="comments"></a>
<section{{ attributes.addClass(classes) }}>
  {% if comments and not label_hidden %}
    {{ title_prefix }}
    <h2{{ title_attributes.addClass(bem_element_prefix ~ 'title') }}>{{ label|t }}</h2>
    {{ title_suffix }}
  {% endif %}

  <div class="{{ bem_element_prefix }}content">
    {{ comments }}
  </div>

  {% if comment_form %}
    <div class="{{ bem_element_prefix }}form-container">
      <h2{{ content_attributes.addClass(bem_element_prefix ~ 'form-title') }}>{{ 'Add new comment'|t }}</h2>
      {{ comment_form }}
    </div>
  {% endif %}
</section>
