{% set field_block = 'field' %}
{%
  set field_modifiers = [
    'name-' ~ field_name,
    'type-' ~ field_type,
    'label-' ~ label_display,
  ]
%}
{%
  set entity_block = bem_block([
    entity_type,
    bundle != entity_type ? bundle,
    field_name,
  ])
%}
{%
  set entity_modifiers = [
    view_mode,
  ]
%}
{%
  set classes = [
    bem(entity_block, null, entity_modifiers),
    bem(field_block, null, field_modifiers),
  ]
%}
{%
  set title_classes = [
    bem(entity_block, 'title'),
    bem(field_block, 'title'),
  ]
%}
{%
  set content_classes = [
    bem(entity_block, 'form-title'),
    bem(field_block, 'form-title'),
  ]
%}
<a id="comments"></a>
<section{{ attributes.addClass(classes) }}>
  {% if comments and not label_hidden %}
    {{ title_prefix }}
    <h2{{ title_attributes.addClass(title_classes) }}>{{ label|t }}</h2>
    {{ title_suffix }}
  {% endif %}

  <div class="{{ bem(entity_block, 'content') }} {{ bem(field_block, 'content') }}">
    {{ comments }}
  </div>

  {% if comment_form %}
    <div class="{{ bem(entity_block, 'form-container') }} {{ bem(field_block, 'form-container') }}">
      <h2{{ content_attributes.addClass(content_classes) }}>{{ 'Add new comment'|t }}</h2>
      {{ comment_form }}
    </div>
  {% endif %}
</section>
