{#
/**
 * @file
 * Default theme implementation to present field.
 *
 * Available variables:
 * - attributes: HTML attributes for containing element.
 * - classes: An array of classes for main wrapper.
 * - bem_block: The BEM block class.
 * - entity_type: The name of entity type, which field belongs to.
 * - bundle: The entity bundle name for the field.
 * - view_mode: The view mode used to render field.
 *
 * @see glisseo_preprocess_field()
 */
#}
{# Common field BEM naming. #}
{% set field_bem_block = 'field' %}
{%
  set field_bem_modifiers = [
    'name-' ~ field_name|clean_class,
    'type-' ~ field_type|clean_class,
    'label-' ~ label_display|clean_class
  ]
%}
{# Entity-specific BEM naming. #}
{%
  set entity_bem_block = bem_block([
    entity_type,
    bundle != entity_type ? bundle,
    field_name,
  ])
%}
{%
  set entity_bem_modifiers = [
    view_mode,
  ]
%}
<div{{ attributes.addClass(bem(field_bem_block, field_bem_modifiers), bem(entity_bem_block, entity_bem_modifiers)) }}>
  {% block field %}

    {% if not label_hidden %}
      <div{{ title_attributes.addClass(bem('label', [], field_bem_block), bem('label', [], entity_bem_block)) }}>
        {% block label %}
          {{ label }}
        {% endblock %}
      </div>
    {% endif %}

    {% block items %}
      {% set content_attributes_not_empty -%}{{ content_attributes }}{%- endset %}
      {% if (multiple) %}
        <div{{ content_attributes.addClass(bem('items', [], field_bem_block), bem('items', [], entity_bem_block)) }}>
      {% else %}
        <div{{ content_attributes.addClass(bem('value', [], field_bem_block), bem('value', [], entity_bem_block)) }}>
      {% endif %}

      {% for item in items %}
        {% set item_attributes_not_empty -%}{{ item.attributes }}{%- endset %}
        {% if multiple or item_attributes_not_empty %}
          <div{{ item.attributes.addClass(bem('item', [], field_bem_block), bem('item', [], entity_bem_block)) }}>
        {% endif -%}

        {% block item %}
          {{- item.content -}}
        {% endblock %}

        {% if multiple or item_attributes_not_empty %}
          </div>
        {% endif -%}
      {% endfor %}

      {# for __items and __value #}
        </div>
    {% endblock %}

  {% endblock %}
</div>
