{#
/**
 * @file
 * Theme override for a field.
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field--' ~ field_name|clean_class,
    label_display == 'visually_hidden' ?: 'is-label-' ~ label_display|clean_class,
  ]
%}
{%
  set title_classes = [
    'label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.addClass(classes, 'items') }}>
      {% for item in items %}
        <div{{ item.attributes.addClass('item') }}>{{ item.content }}</div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes.addClass(classes, 'item') }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div class="items">
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('item') }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
