{#
/**
 * @file
 * Default theme implementation to present field.
 *
 * Available variables:
 * - attributes: HTML attributes for containing element.
 * - classes: An array of classes for main wrapper.
 * - bem_block: The BEM block class.
 * - entity_type: The name of entity type, which field belongs to.
 * - bundle: The entity bundle name for the field.
 * - view_mode: The view mode used to render field.
 *
 * @see glisseo_preprocess_field()
 */
#}
{% set bem_block = (bem_block ?: entity_type ~ '-' ~ bundle ~ '-' ~ (is_base_field ? '-base-') ~ field_name)|clean_class %}
{%
  set bem_modifiers = bem_modifiers|merge([
    view_mode != 'default' ? view_mode|clean_class|replace({'--': ''}),
    label_display == 'inline' ? bem_block ~ '--label-inline',
  ])
%}
{%
  set classes = [
    bem_block,
  ]
%}
{% for bem_modifier in bem_modifiers %}
  {% if bem_modifier|length %}
    {% set classes = classes|merge([bem_block ~ '--' ~ bem_modifier]) %}
  {% endif %}
{% endfor %}
{%
  set title_classes = [
    bem_block ~ '__label',
    label_hidden ? 'visually-hidden',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block field %}

    {% if not label_hidden %}
      <div{{ title_attributes.addClass(title_classes) }}>
        {% block label %}
          {{ label }}
        {% endblock %}
      </div>
    {% endif %}

    {% block items %}
      {% set content_attributes_not_empty -%}{{ content_attributes }}{%- endset %}
      {% if (multiple and not label_hidden) or content_attributes_not_empty %}
        <div{{ content_attributes.addClass(bem_block ~ '__items') }}>
      {% endif %}

      {% for item in items %}
        {% set item_attributes_not_empty -%}{{ item.attributes }}{%- endset %}
        {% if multiple or item_attributes_not_empty %}
          <div{{ item.attributes.addClass(bem_block ~ '__item') }}>
        {% endif -%}

        {% block item %}
          {{- item.content -}}
        {% endblock %}

        {% if multiple or item_attributes_not_empty %}
          </div>
        {% endif -%}
      {% endfor %}

      {% if (multiple and not label_hidden) or content_attributes_not_empty %}
        </div>
      {% endif %}
    {% endblock %}

  {% endblock %}
</div>
