<div{{ attributes.addClass(bem_classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block taxonomy_term %}
    {% if not page %}
      <h2 class="{{ bem_block }}__title">
        {% block title %}
          <a href="{{ url }}">{{ name }}</a>
        {% endblock %}
      </h2>
    {% endif %}


    <div class="{{ bem_block }}__content">
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  {% endblock taxonomy_term %}
</div>
