{%
  set bem_block = bem_block([
    term.entityTypeId(),
    term.bundle() != term.entityTypeId() ? term.bundle(),
    view_mode != 'default' ? view_mode,
  ])
%}
<div{{ attributes.addClass(bem_block) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block taxonomy_term %}
    {% if not page %}
      <h2 class="{{ bem('title', [], bem_block) }}">
        {% block title %}
          <a href="{{ url }}">{{ name }}</a>
        {% endblock %}
      </h2>
    {% endif %}

    <div class="{{ bem('content', [], bem_block) }}">
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  {% endblock taxonomy_term %}
</div>
