{%
  set bem_block = bem_block ?: ('taxonomy-term-' ~ term.bundle ~ (view_mode != 'default' ? '-' ~ view_mode))|clean_class
%}
{%
  set classes = [
    bem_block,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% block title %}
    {% if not page %}
      <h2 class="{{ bem_block }}__title"><a href="{{ url }}">{{ name }}</a></h2>
    {% endif %}
  {% endblock %}
  {{ title_suffix }}
  {% block content %}
    <div class="{{ bem_block }}__content">
      {{ content }}
    </div>
  {% endblock %}
</div>
