{% set bem_block = ('taxonomy-term-' ~ term.bundle() ~ '-' ~ view_mode)|clean_class|replace({'--': '-'}) %}
{%
  set classes = [
    bem_block,
  ]
%}
{% for bem_modifier in bem_modifiers %}
  {% if bem_modifier|length %}
    {% set classes = classes|merge([bem_block ~ '--' ~ bem_modifier]) %}
  {% endif %}
{% endfor %}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block taxonomy_term %}
    {% if not page %}
      <h2 class="{{ bem_block }}__title">
        {% block title %}
          <a href="{{ url }}">{{ name }}</a>
        {% endblock %}
      </h2>
    {% endif %}


    <div class="{{ bem_block }}__content">
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  {% endblock taxonomy_term %}
</div>
