{#
  /**
   * @file
   * Theme override to taxonomy term.
   *
   * @see template_preprocess_taxonomy_term()
   */
#}
{%
  set classes = [
    'taxonomy-term',
    'taxonomy-term--' ~ term.bundle|clean_class,
    'view-mode--' ~ view_mode|clean_class,
  ]
%}
<div{{ attributes.setAttribute('id', 'taxonomy-term-' ~ term.id).addClass(classes) }}>
  {{ title_prefix }}
  {% if not page %}
    <h2 class="title"><a href="{{ url }}">{{ name }}</a></h2>
  {% endif %}
  {{ title_suffix }}
  <div class="content">
    {{ content }}
  </div>
</div>
