{% set bem_block = 'app' %}
<div class="{{ bem_block }}">
  {{ page.header }}
  {{ page.navigation }}

  <main{{ main_layout_attributes.addClass(bem_block ~ '__content') }}>
    {{ page.sidebar_first }}
    {{ page.content }}
    {{ page.sidebar_second }}
  </main>

  {{ page.footer }}
</div>
