{% set bem_block = 'app' %}
<div class="{{ bem_block }}">
  <div class="{{ bem_block }}__header">
    {{ page.header }}
    {{ page.navigation }}
  </div>

  <main{{ main_layout_attributes.addClass(bem_block ~ '__content') }}>
    {{ page.sidebar_first }}
    {{ page.content }}
    {{ page.sidebar_second }}
  </main>

  <div class="{{ bem_block }}__footer">
    {{ page.footer }}
  </div>
</div>
